<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259075626560-2f03p95pjqie86nt6cf4tl3nik199deu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259075626560-2f03p95pjqie86nt6cf4tl3nik199deu</string>
	<key>API_KEY</key>
	<string>AIzaSyAns4wosITY921W1QvC3IOzo-sQ_zy1Zms</string>
	<key>GCM_SENDER_ID</key>
	<string>259075626560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gofoods</string>
	<key>PROJECT_ID</key>
	<string>cube-57774</string>
	<key>STORAGE_BUCKET</key>
	<string>cube-57774.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259075626560:ios:a7dcae1d56b5c013e431a5</string>
</dict>
</plist>